.main {
    overflow: hidden;
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--height-header);
    z-index: 2;
    background-image: linear-gradient(0,#FE6433,#F6402E)  ;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0; 
    display: flex;
    align-items: center
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;  
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover
{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--bold {
    font-weight: 600;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-label--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-download {
    z-index: 1;
    display: none;
    position: absolute;
    top: 115%;
    right: 20px;
    padding: 8px;
    max-width: 210px;
    border-radius: 4px;
    animation: fadeIn ease-in 0.2s;
    background-color: var(--white-color);
    will-change: opacity;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.header__navbar-download::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:-10px;
    width: 100%;
    height: 20px;
}
.header__navbar-qr-code {
    display: inline-block;
    width: 170px;
}

.header__navbar-item:hover .header__navbar-download {
    display: block;
}

.header__navbar-app-download {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__navbar-icon-download {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
}

.fa-brands {
    margin-right: 4px ;
}

.header__notification {
    z-index: 2;
    position: absolute;
    top: 118%;
    right: 0;
    width: 390px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeIn linear .3s;
    will-change: opacity;
    cursor: default;
}

.header__notification::before {
    content: "";
    border-width: 20px 30px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;    
}

.header__notification::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:-10px;
    width: 80px;
    height: 20px;
}

.header__navbar-item:hover .header__notification {
    display: block;
}

.header__notification-new {
    color: #999;
    height: 40px;
    margin: 0 0 0 12px;
    line-height: 40px;
    font-weight: 500;
    font-size: 1.4rem;
}

.header__notification-show-all {
    color: #999;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.4rem;
}
.header__notification-viewed {
    background-color: rgba(238, 77, 45, 0.09);
}

.header__notification-titles {
    text-decoration: none;
    color: #333;
    display: block;
    margin-left: 12px;
}

.header__notification-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 1.8rem;
}

.header__notification-desc {
    font-size: 1.2rem;
    margin-top: 4px ;
    line-height: 1.3rem;
}

.header__notification-row {
    display: flex;
    padding: 12px;
}

.header__notification-row:hover {
    background-color: #f7f7f7;
}

.header__notification-img {
    width: 48px;
    object-fit: contain;
}



/* Modal */

.auth-form {
     padding: 0 30px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
}

.auth-form__heading {
     margin: 0;
     font-size: 1.8rem;
     font-weight: 400;
}

.auth-form__switch-btn {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.auth-form__group ~ .auth-form__group {
    margin-top: 16px;
}

.auth-form__input {
    border-radius: 2px;
    padding: 12px;
    width: 100%;
    font-size: 1.4rem;
}

.auth-form_aside {
    margin-top: 24px;
    text-align: center;
}

.auth-form__policy-text {
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
}

.auth-form__policy-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary-color);
}

.and {
    font-size: 1.3rem;
}
.auth-form__controls {
    margin-top: 20px ;
    display: flex;
    justify-content: flex-end;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.btn {
    display: inline-block;
    border: 0;
    padding: 12px;
    color: var(--black-color);
    background-color: var(--white-color);
    min-width: 124px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);    
}

.mt-right {
    margin-right: 15px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px ;
}

.btn--with-icon {
    text-decoration: none;
    font-size: 12px;
}
.btn--with-icon-fb {
    background-color: #0f91f3;
    color:  var(--white-color);
}

.btn--with-icon-gg {
    border: 1px solid #000;
}

/* Search */

.header__header-with-search {
    height: calc(var(--height-header)- var(--height-header__navbar));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

.header-with-search__link-logo {
    width: 200px;
    display: block;
}

.header-with-search__logo-svg {
    width: 150px;
    color: var(--white-color);
}

.header-with-search__search {
    position: relative;
    flex: 1;
    justify-content: space-between ;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 4px 0; 
}
.header-with-search__form {
    display: flex;
    justify-content: space-between;
}

.header-with-search__search-input {
    padding: 13px;
    width: 100%;
    font-size: 1.4rem;
    border: 0;
    outline: none;
    border-radius: 2px;

}


.header-with-search__icon-search {
    padding: 8px 22px;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    margin-right: 4px;
    border-radius: 2px;
    color: var(--white-color);
    border: none;
    width: 60px;
}

.header-with-search__icon-search:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header-with-search__shopping-cart {
    width: 150px;
    display: flex;
    justify-content: center;
}

.fa-cart-shopping {
    padding: 0 12px;
    font-size: 2.5rem;
    margin: auto;
    color: var(--white-color);
}

/* History search */

.header-with-search__search-input:focus ~ .header-with-search__history {
    display: block;
}



.header-with-search__history-heading {
    padding: 6px 0 6px 13px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin: 0;
}
.header-with-search__history-wrap {
    display: block;
    position: relative;
    flex: 1;
}

.header-with-search__history-list {
    margin: 0;
    padding: 0;
}
.header-with-search__history {
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px rgb(189 189 189);
    position: absolute;
    top: 115%;
    border-radius: 2px;
    display: none;
    width: 100%;
}

.header-with-search__history-item {
    padding: 10px 0 10px 13px;
    display: block;
    list-style: none;
}

.header-with-search__history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px ;
}

.header-with-search__history-item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.header-with-search__history-item-link {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
}

/* Search mobile */
.header-with-search__form-mobile {
    display: none;
}


/* Header-sort-bar */
.header__sort-bar-list {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: var(--height-header);
    height: 44px;
    background-color: var(--white-color);
    padding-left: 0;
    margin: 0;
    align-items: center;
    border-top: 1px solid #e5e5e5 ;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-bar-list li {
    flex: 1;
    list-style: none;
}


.header__sort-bar-item {
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    height: 100%;
    line-height: 44px;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.header__sort-bar-item::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5 ;
}
.header__sort-bar-item--active {
    color: var(--primary-color);
}

.header__sort-bar-list li:first-child .header__sort-bar-item::before {
    display: none;
}


/* Search mobile */

.header__mobile-search {
    text-decoration: none;
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

/* Shopping card */


.header-with-search__shopping-cart-wrap {
    position: relative;
}

.header-with-search__shopping-cart-wrap:hover .shopping-cart__list {
    display: block;
}

.shopping-cart__list::before {
    content: "";
    border-style: solid;
    border-width: 20px 25px ;
    border-color: transparent transparent var(--white-color) transparent;
    display: block;
    position: absolute;
    right: 0;
    top: -30px;
}
.shopping-cart__list {
    z-index: 2;
    width: 400px;
    background-color: var(--white-color);
    position: absolute;
    top: 132%;
    right: 0px;
    display: none;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
}

.shopping-cart__list-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart__heading {
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.shopping-cart__footer {
    padding: 8px 0;
    text-align: right;
}

.shopping-cart__btn {
    margin: 0 8px 0 0;
    display: inline-block;
    font-size: 1.4rem;
}


.shopping-cart__body-list {
    max-height: 30vh;
    padding: 0;
    overflow-y: auto;
}


.shopping-cart__body-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    list-style: none;
}

.shopping-cart__body-img {
    width: 42px;
    margin: 0 12px;
}

.shopping-cart__body-item-wrap {
    width: 100%;
    flex: 1;
}

.shopping-cart__body-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart__body-title {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.shopping-cart__body-type {
    margin: 0;
    color: #757575;
    font-size: 1.2rem;
}

.shopping-cart__body-price {
     margin: 0 12px;
     font-size: 1.4rem;
     color: var(--primary-color);
}

.shopping-cart__body-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.shopping-cart__body-remove {
    margin: 0 12px;
    color: #333;
    font-size: 1.4rem;
}

.shopping-cart__body-items:hover {
    background-color: #f7f7f7;
}

.shopping-cart-notice {
    position: absolute;
    color: var(--primary-color);
    top: -13px;  
    right: 0px;
    font-size: 1.3rem;
    padding: 0 8px;
    border: 1px solid #EE4D2D;
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: default;
}


/* container */
.app__container {
    margin-top: var(--height-header);
    background-color: #f5f5f5;
    border-bottom: 4px solid var(--primary-color);
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category__list {
    padding: 0 0 8px 0;
    margin-left: 9px;
}

.category-item {
    list-style: none;
}

.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item--active .category-item-link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}

.category-item-link {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort +filter */

.home-filter {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 12px 22px;
    justify-content: space-between ;
    background-color: #ebebeb;
}

.home-filter__wrap {
    flex: 1;
    display: flex;
    align-items: center;
}

.home-filter__label {
    margin-right: 20px;
    color: #555;
}

.home-filter__btn {
    margin-bottom: 0;
    min-width: 90px;
    margin-right: 12px;
    padding: 10px 12px;
}

.home-filter__btn:hover {
    opacity: 1;
}

.select-input {
    z-index: 1;
    display: inline-block;
    width: 176px;
    padding: 7px 12px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top:-10%;
}

.select-input__list {
    position: absolute;
    margin: 0;
    padding-left: 0;
    display: block;
    width: 100%;
    background-color: var(--white-color);
    top: 105%;
    right: 0;
    display: none;
}

.select-input__item:hover a{
    color: var(--primary-color);
}

.select-input__list a {
    text-decoration: none;
    color: var(--text-color);
}


.select-input__item {
    list-style: none;
    display: block;
    padding: 4px 0;
    margin-left: 16px;
}



.home-filter__current {
    display: flex;
    width: 126px;
    justify-content: space-between;
    align-items: center;
}

.home-filter__current-page {
    color: var(--primary-color);
}

.home-filter__current-page-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-filter__current-icon {
    font-size: 1.4rem;
}

.home-filter__current-link {
    text-decoration: none;
    padding: 7px 12px;
    display: block;
    border-radius: 2px;
    border-right: 1px solid #eeeeee;
    color: #555555;
    background-color: var(--white-color);
}

.home-filter__current-link--disable {
    background-color:#f9f9f9;;
}


/* Product item */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform  linear 0.1s;
    will-change: transform;

}

.home-product-item:hover {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transform: translateY(-1px);
}
.home-product-item__img {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #555;
    text-decoration: line-through;
}

.home-product-item__price-current {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-left: 6px;

}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    color: var(--text-color);
}

.home-product-item__like {
    font-size: 1.3rem;
}
.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    margin-left: auto;
    margin: 2px 0 0 auto;
}

.home-product-item__rating-gold {
    color: #ffce3e;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 4px;
    color: #9d9d9d;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite {
    position: absolute;
    left: -4px;
    top: 10px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px ;
}

.home-product-item__favourite span {
    color: var(--white-color);
}
.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    border-width: 0px 20px 6px;
    border-style: solid;
    bottom: -6px;
    left: 0;
    border-color: red #f5d143 transparent #f5d143;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    color: var(--white-color);
}


.panination {
    padding: 0;
    margin: 48px 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panination-item {
    list-style: none;
    display: block;
    text-align: center;
}

.pagination-item__link {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    margin: 0 12px;
    color: #939393;
}

.panination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
}

.footer__heading {
    font-size: 1.4rem;
    margin: 32px 0 16px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.footer__list {
     padding: 0;
}

.footer__list-item:hover a{
    color: var(--primary-color);
}

.footer__list-item {
    list-style: none;
}


.footer__list-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    line-height: 2rem;
}

.footer__down {
    display: flex;
    align-items: center;
}

.footer__down-img {
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.footer__app {
    font-size: 1.2rem;
    color: #737373;
    display: block;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    width: 100%;
    margin-top: 36px;
    background-color: #f5f5f5;
}

.footer__bottom-text {
    margin: 0;
    font-size: 1.2rem;
    color: var(--black-color);
    line-height: 1.2rem;
    text-align: center;
}